<h1>Rental Details</h1>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/rentals/new">New Rental</a>
  <a href="/rentals">All Rentals</a>
  <a href="/customers/new">New Customer</a>
  <a href="/customers">All Customers</a>
  <a href="/movies/new">New Movie</a>
  <a href="/movies">All Movies</a>
</div><br>

<style>

h1 {
  color: yellow;
  text-align:center
}
  
body {
  background-color: blue;
  color: white;
}

 a:link {
  color: white;
}

a:visited {
  color: black;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav {
  background-color: yellow;
  overflow: hidden;
}

.topnav a:hover {
  background-color: yellow;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}

</style>

<h2>Movie Name</h2>
<h3><a href='/movies/<%=@rental.movie.slug%>'><%=@rental.movie.name%></a></h3>

<h2>Customers</h2>
<h3><a href='/customers/<%=@rental.customer.slug%>'><%=@rental.customer.name%></a></h3>

<h2>Return Status</h2>
<h3><%= @rental.returned %></h3>

<h2>Checkout Date-Time</h2>
<h3><%= @rental.created_at %></h3>

<form method='post' action='/checkin/<%=@rental.id%>'>
<input type='submit' value='Returned'>
</form>

